# Django Core
Django>=5.0
gunicorn
whitenoise
Pillow

# Database
psycopg2-binary

# Authentication
msal

# Environment
python-dotenv

# Azure Blob Storage (for APK and media files)
azure-storage-blob

# Caching (optional)
redis
django-redis
